.hero {
    position: relative;
    background: url("../assests/carimage.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 80px;
}


@media (max-width: 768px) {
    .hero {
        min-height: 750px; 
        padding-top: 100px; 
    }

   
}
